<?xml version="1.0" encoding="utf-8"?>
<!--
 /**
 * Author: Tiago Sarmento Santos
 * Github: https://github.com/tiagosarmento/HomeMonitorIOT
 *
 * Software License Agreement
 * The present software is open-source and it is owned by this project contributors. Feel free to
 * use it on your own and to improve it for your needs. You may not combine this software with
 * "viral" open-source software in order to form a larger program. This software is being done as
 * an hobby and a DIY project. It is provided as is and with all possible faults associated.
 * The software contributors shall not, under any circumstances, be liable for special, incidental
 * or consequential damages for any reason whatsoever.
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiasan.homemonitoriot">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Permission to set the Alarm -->
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TemperatureActivity"
            android:label="@string/app_name_temperature"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" >
        </activity>

        <activity
            android:name=".LightActivity"
            android:label="@string/app_name_light"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" >
        </activity>

        <activity
            android:name=".HumidityActivity"
            android:label="@string/app_name_humidity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" >
        </activity>

        <activity
            android:name=".PressureActivity"
            android:label="@string/app_name_pressure"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" >
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name_settings"
            android:parentActivityName=".MainActivity" >
        </activity>

        <!-- Boot Time Alarm Receiver Handler -->
        <receiver
            android:name=".AlarmBootReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- Alarm Receiver Handler -->
        <receiver android:name=".AlarmReceiver" />

        <!-- Alarm Service Handler -->
        <service android:name=".AlarmService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>